<?xml version="1.0" ?>
<!--
/**
 * Curbside pickup for Magento 2
 *
 * This module extends the base pick up in-store Magento 2 functionality
 * adding an option for a curbside pick up
 *
 * @package ImaginationMedia\CurbsidePickup
 * @author Denis Colli Spalenza <denis@imaginationmedia.com>
 * @copyright Copyright (c) 2020 Imagination Media (https://www.imaginationmedia.com/)
 * @license https://opensource.org/licenses/OSL-3.0.php Open Software License 3.0
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\InventoryApi\Api\Data\SourceExtension"
                type="ImaginationMedia\CurbsidePickup\Rewrite\Magento\InventoryApi\Api\Data\SourceExtension"/>
    <preference for="Magento\Quote\Api\Data\AddressExtension"
                type="ImaginationMedia\CurbsidePickup\Rewrite\Magento\Quote\Api\Data\AddressExtension"/>

    <type name="Magento\InventoryInStorePickup\Model\Source\InitPickupLocationExtensionAttributes">
        <plugin disabled="false"
                name="ImaginationMedia_CurbsidePickup_Plugin_Magento_InventoryInStorePickup_Model_Source_InitPickupLocationExtensionAttributes"
                sortOrder="10"
                type="ImaginationMedia\CurbsidePickup\Plugin\Magento\InventoryInStorePickup\Model\Source\InitPickupLocationExtensionAttributes"/>
    </type>

    <type name="Magento\InventoryApi\Api\SourceRepositoryInterface">
        <plugin disabled="false"
                name="save_in_store_curbside_pickup_links"
                sortOrder="100"
                type="ImaginationMedia\CurbsidePickup\Plugin\Magento\InventoryApi\SourceRepository\SaveInStoreCurbsidePickupPlugin"/>
    </type>

    <type name="Magento\InventoryInStorePickupApi\Model\Mapper">
        <arguments>
            <argument name="map" xsi:type="array">
                <item name="extension_attributes.is_curbside_pickup_location_active" xsi:type="string">extension_attributes.is_curbside_pickup_location_active</item>
            </argument>
        </arguments>
    </type>
</config>
