<?xml version="1.0"?>
<!--
/**
 * Curbside pickup for Magento 2
 *
 * This module extends the base pick up in-store Magento 2 functionality
 * adding an option for a curbside pick up
 *
 * @package ImaginationMedia\CurbsidePickup
 * @author Igor Ludgero Miura <igor@imaginationmedia.com>
 * @author Antonio Lolić <antonio@imaginationmedia.com>
 * @copyright Copyright (c) 2020 Imagination Media (https://www.imaginationmedia.com/)
 * @license https://opensource.org/licenses/OSL-3.0.php Open Software License 3.0
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="ImaginationMedia_CurbsidePickup">
        <sequence>
            <module name="Magento_InventoryInStorePickup"/>
            <module name="Magento_InventoryInStorePickupShippingAdminUi"/>
            <module name="Magento_Checkout"/>
            <module name="Magento_Backend"/>
            <module name="Magento_Ui"/>
            <module name="Magento_Sales" />
        </sequence>
    </module>
</config>
