<?xml version="1.0"?>
<!--
/**
 * Curbside pickup for Magento 2
 *
 * This module extends the base pick up in-store Magento 2 functionality
 * adding an option for a curbside pick up
 *
 * @package ImaginationMedia\CurbsidePickup
 * @author Antonio Lolić <antonio@imaginationmedia.com>
 * @copyright Copyright (c) 2020 Imagination Media (https://www.imaginationmedia.com/)
 * @license https://opensource.org/licenses/OSL-3.0.php Open Software License 3.0
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="ImaginationMedia_CurbsidePickup::curbside_order" title="Curbside Orders" translate="title" module="ImaginationMedia_CurbsidePickup" parent="Magento_Sales::sales_operation" action="curbside/order" sortOrder="12" resource="ImaginationMedia_CurbsidePickup::curbside_order"/>
    </menu>
</config>
